<robot
  name="amac_car_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.017409 7.506E-05 0.097081"
        rpy="0 0 0" />
      <mass
        value="4.9413" />
      <inertia
        ixx="0.01423"
        ixy="-4.6637E-06"
        ixz="0.0027436"
        iyy="0.021989"
        iyz="-2.659E-05"
        izz="0.015812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amac_car_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amac_car_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_turn" />
  <joint
    name="left_turn_rev"
    type="fixed">
    <origin
      xyz="0.17938 0.145 0.05762"
      rpy="-1.2694E-14 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_turn" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LF_wheel" />
  <joint
    name="LF_wheel_cont"
    type="fixed">
    <origin
      xyz="0.17938 0.145 0.05762"
      rpy="-1.2694E-14 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_turn" />
  <joint
    name="right_turn_rev"
    type="fixed">
    <origin
      xyz="0.17938 -0.145 0.05762"
      rpy="-1.2694E-14 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_turn" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RF_wheel" />
  <joint
    name="RF_wheel_cont"
    type="fixed">
    <origin
      xyz="0.17938 -0.145 0.05762"
      rpy="-1.2694E-14 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LB_wheel" />
  <joint
    name="LB_wheel_cont"
    type="fixed">
    <origin
      xyz="-0.13862 0.145 0.05762"
      rpy="-1.3138E-14 -1.2246E-16 -6.2496E-17" />
    <parent
      link="base_link" />
    <child
      link="LB_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RB_wheel" />
  <joint
    name="RB_wheel_cont"
    type="fixed">
    <origin
      xyz="-0.13862 -0.145 0.05762"
      rpy="-1.2694E-14 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="IMU_base" />
  <joint
    name="IMU_base_fix"
    type="fixed">
    <origin
      xyz="0.14944 0 0.18697"
      rpy="1.8402E-16 -4.6416E-16 -1.1117E-15" />
    <parent
      link="base_link" />
    <child
      link="IMU_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_base" />
  <joint
    name="lidar_base_fix"
    type="fixed">
    <origin
      xyz="-0.045 6.0708E-05 0.18324"
      rpy="6.8455E-16 -2.4026E-32 1.8902E-16" />
    <parent
      link="base_link" />
    <child
      link="lidar_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_cam" />
  <joint
    name="left_cam_fix"
    type="fixed">
    <origin
      xyz="0.2308 0.053407 0.14724"
      rpy="1.5708 1.0247E-15 2.2689" />
    <parent
      link="base_link" />
    <child
      link="left_cam" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mid_cam" />
  <joint
    name="mid_cam_fix"
    type="fixed">
    <origin
      xyz="0.24638 0.00035411 0.14724"
      rpy="1.5708 3.9458E-16 1.5708" />
    <parent
      link="base_link" />
    <child
      link="mid_cam" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_cam" />
  <joint
    name="right_cam_fix"
    type="fixed">
    <origin
      xyz="0.230876461791408 -0.0534715519548394 0.147240000000001"
      rpy="1.5707963267949 2.26526587045312E-15 0.872664625997166" />
    <parent
      link="base_link" />
    <child
      link="right_cam" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>